* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 16px;
}

.row {
    display: flex;
    flex-direction: row;
}

.col-6 {
    width: 50%;
    padding-left: 50px;
}

header {
    padding: 20px 0;
    color: #706b6b;
    border-radius: 8px;
    margin: auto;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.nav-bar .logo {
    font-size: 24px;
    color: #706b6b;
    transition: all 0.3s ease-out;
}

.nav-bar .logo:hover {
    color: coral;
}

.nav-bar nav ul {
    display: flex;
}

.nav-bar ul li a {
    margin-right: 20px;
    font-size: 16px;
    transition: all 0.3s ease-out;
}


.hero {
    height: 600px;
    background: #020202;
    padding: 20px;
}

.hero .hero-text {
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.hero-text h2 {
    font-size: 36px;
    color: #ffffff;
}

.hero-text span {
    font-size: 24px;
    margin-top: 14px;
    font-weight: 500;
    color: #ffffff;
}

.hero-text p {
    font-size: 18px;
    margin-top: px;
    color: #ffffff;
}

.hero-text button {
    margin-top: 50px;
    padding: 10px 30px;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    transition: all 0.3s ease-out;

}

.hero-text button:hover {
    background: coral;
    color: #fff;
}

.hero-img {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 500px;

}

.hero-img img {
    width: 400px;
}