@media (max-width: 991px) {
    .col-span {
        grid-column: span 1;
        grid-row: span 1;
    }

    .col-span2 {
        grid-column: span 1;
        grid-row: span 1;
    }
}

@media (max-width: 767px) {
    .blog-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: minmax(80px, auto);
    }

    .col-span {
        grid-column: span 1;
        grid-row: span 1;
    }

    .col-span2 {
        grid-column: span 1;
        grid-row: span 1;
    }
}

@media (max-width: 575px) {
    .blog-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: minmax(80px, auto);
    }

    .col-span {
        grid-column: span 1;
        grid-row: span 1;
    }

    .col-span2 {
        grid-column: span 1;
        grid-row: span 1;
    }
}