.container{
    max-width: 1320px;
    padding: 0 20px;
    margin: 0 auto;
}
img{
    width: 100%;
    display: block;
    object-fit: cover;
}
.blog-container{
    display: grid;
  grid-template-columns: repeat(3, 1fr);
    gap:20px;
}
.col-span{
    grid-column: span 1;

    grid-row: span 2;
}
.col-span2{
    grid-column: span 3;

    grid-row: span 2;
}